<ion-header>
  <ion-toolbar>
    <ion-title>Předpověď</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding forecast-content">

    <!-- searchbar pro vyhledani predpovedi pocasi -->
  <ion-item>
    <ion-searchbar
      placeholder="Hledat město..."
      (ionInput)="onCityInput($event)"
      (ionClear)="forecastList=[]; groupedForecast=[];">
    </ion-searchbar>

  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="loadForecast()">
    Načíst předpověď
  </ion-button>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-margin-top">{{ error }}</p>
  </ion-text>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <!-- div s preedpovedi pocasi podle dnu v tydnu -->
  <div *ngIf="!loading && groupedForecast.length">
    <div *ngFor="let day of groupedForecast" class="day-block ion-margin-top">
      <ion-item lines="none" class="day-header">
        <ion-label>
          <h2>{{ (day.date) | date:'EEEE, d. MMM' }}</h2>
          <p class="muted">{{ day.date }}</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let item of day.items">
          <ion-label>
            <h3>{{ item.dt_txt | date:'H:mm' }}</h3>
            <p *ngIf="item.weather && item.weather.length">
              {{ item.weather[0].description }}
            </p>
            <p *ngIf="item.main">Teplota: {{ item.main.temp | number:'1.0-0' }} °C</p>
          </ion-label>

          <ion-thumbnail slot="start" class="weather-thumb">
            <img [src]="'https://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png'"/>
          </ion-thumbnail>
          
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
