<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Aktuální počasí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

  <ion-item>
    <ion-searchbar
      placeholder="Hledat město..."
      (ionInput)="onCityInput($event)"
      debounce="400">
    </ion-searchbar>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="searchCity()">
    Vyhledat
  </ion-button>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-margin-top">{{ error }}</p>
  </ion-text>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <!-- KARTA S POČASÍM -->
  <ion-card class="ion-margin-top" *ngIf="currentWeather && !loading">
    <ion-card-header>
      <ion-card-title>
        {{ currentWeather.name }}
      </ion-card-title>
  
      <ion-card-subtitle *ngIf="currentWeather.weather && currentWeather.weather.length">
        {{ currentWeather.weather[0].description }}
      </ion-card-subtitle>
  
      <!-- tlačítko pro oblíbené -->
      <ion-button
          fill="clear"
          size="small"
          (click)="toggleFavorite()"
          [disabled]="loading || !currentWeather">
          <ion-icon [icon]="isFavorite ? star : starOutline"></ion-icon>
      </ion-button>

    </ion-card-header>
  
    <ion-card-content>
      <!-- icon -->
      <img *ngIf="currentWeather.weather && currentWeather.weather.length"
      [src]="'https://openweathermap.org/img/wn/' + currentWeather.weather[0].icon + '@4x.png'"
      alt="weather icon"
      class="weather-icon">

      <div class="current-temp">
      {{ currentWeather.main?.temp | number:'1.0-0' }}°C
      </div>

      <p *ngIf="currentWeather.main">Teplota: {{ currentWeather.main.temp }} °C</p>
      <p *ngIf="currentWeather.main">Pocitově: {{ currentWeather.main.feels_like }} °C</p>
      <p *ngIf="currentWeather.main">Vlhkost: {{ currentWeather.main.humidity }} %</p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
