<ion-header>
  <ion-toolbar>
    <ion-title>Historie hledání</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="medium" *ngIf="!history.length && !loading">
    <p>Zatím žádná historie. Zkus vyhledat nějaké město na prvním tabu.</p>
  </ion-text>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-margin-top">{{ error }}</p>
  </ion-text>

  <ion-list *ngIf="history.length && !loading">
    <ion-list-header>
      Naposledy hledaná města
    </ion-list-header>
  
    <ion-item
      *ngFor="let city of history"
      button
      (click)="selectFromHistory(city)">
      <ion-label>
        {{ city }}
      </ion-label>
    </ion-item>
  </ion-list>
  

  <ion-button
    expand="block"
    color="medium"
    class="ion-margin-top"
    (click)="clearHistory()"
    [disabled]="!history.length || loading">
    Smazat historii
  </ion-button>

</ion-content>
